*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #202020;
}

.container{
    background-color: #707070;
    padding: 30px 30px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    border: 2px solid black;
}

.container h1{
    background: #555555;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 23px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 40px;
    border-bottom: 1.5px solid black;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row span{
    font-weight: 500;
}

input[type="range"]{
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}

#result{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: green;
}

#category{
    font-size: 25px;
    text-align: center;
}

.display{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 20px;
}